<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

{% block title %} After Graduation {% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'home/css/aftergraduation.css' %}">   
{% endblock css %}


{% block content %}
<br><br>
    <!-- Write page content here -->
    <div class="layout__region layout__region--second">
        <div class="block block-layout-builder block-field-blocknodearticletitle">
        <div class="content">
        <div id="sticky_article_dfp" class="stickydfp dfp_above_title" data-dfpposition="above_title" data-dfphidetime="">
        <div class="block block-dfp block-dfp-ada10e9fb8-5202-498b-a438-9cb2350e676d">
        <div class="content">
        <div id="js-dfp-tag-sticky_dfp_mobile" style="display: none;">
        <script type="text/javascript">
                googletag.cmd.push(function() {
                    googletag.display('js-dfp-tag-sticky_dfp_mobile');
                });
            </script>
        </div>
        </div>
        </div>
        <h4 class="above_title_extra_space">10 Great Graduate Careers You Can Get With Any Degree</h4>
        </div>
        <div class="views-element-container block block-views block-views-blockauthor-info-block-2">
        <div class="content">
        <div><div class="view view-author-info view-id-author_info view-display-id-block_2 js-view-dom-id-64910d04dd44c66f6bf5954ad8e3d1c66cc59985c6c93383b28ded5c4da03427">
        <div class="view-content">
        <div class="views-row">
        <section class="article_user_update">
        <div class="user-update">
        <div class="left_wrap">
        <div class="user-pic">
        <a href="/users/chloelane">
        <img class="rounded-circle image-style-_0x40" src="/static/home/images2/profile.jpeg" width="40" height="40" alt=" image" loading="lazy" typeof="foaf:Image">
        </a></div>
        </div>
        <div class="right_wrap">
        <p>
        <span class="user-name">
        <a href="/users/chloelane">
        By Chloe Lane
        </a>
        </span>
        </p>
        <span class="d-none d-sm-block">Updated December 8, 2021
        </span>
        <span class="d-block d-sm-none">Updated December 8, 2021
        </span>
        </div>
        </div>
    
        <div class="content">
        <div class=" media_modal modal fade _youtube_video_player" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fal fa-times" aria-hidden="true"></i>
        </button>
        <h2 class="_title_gallery" style="height:30px;">
        </h2>
        <div class="areabody">
        <div id="mgallery">
        <div class="slider slick-initialized slick-slider">
        <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 0px;"><div class="item slick-slide slick-current slick-active" data-video-id="" data-h2title="10 Great Graduate Careers You Can Get With Any Degree main image" data-slick-index="0" aria-hidden="false" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;" tabindex="0"><img alt="10 Great Graduate Careers You Can Get With Any Degree main image" src="https://www.topuniversities.com/sites/default/files/articles/lead-images/any_degree_main.jpg">
        
        </div></div></div>
        </div>
        <div class="slider-nav mCustomScrollbar _mCS_1"><div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_horizontal mCSB_inside" style="max-height: none;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: 0px; left: -1px; width: 1px; min-width: 100%; overflow-x: inherit;" dir="ltr">
        
        <div class="item" data-slide="1" style="" tabindex="0" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10"><img alt="10 Great Graduate Careers You Can Get With Any Degree main image" src="/static/home/imgaes2/img1.jpeg" class="mCS_img_loaded"></div></div><div id="mCSB_1_scrollbar_horizontal" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_horizontal" style="display: block;"><a href="#" class="mCSB_buttonLeft" style="display: block;"></a><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 30px; display: block; width: 0px; left: 0px;"><div class="mCSB_dragger_bar"></div><div class="mCSB_draggerRail"></div></div></div><a href="#" class="mCSB_buttonRight" style="display: block;"></a></div></div></div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="carousel-data">
       
       
        <div class="_article_default_slide_text image_title">10 Great Graduate Careers You Can Get With Any Degree main image</div>
        </div>
        </div>
        </div>
        <div class="block block-layout-builder block-field-blocknodearticlebody">
        <div class="content">
        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Choosing a graduate job is rarely a simple decision. However, you might be pleased to know that your options often aren’t limited by your degree subject - with the exception of several careers, such as <a href="https://www.topuniversities.com/courses/medicine/guide">medicine</a>.</p>
        <p>With so many options to choose from, it can be difficult to decide which one’s right for you.</p>
        <p>To make your choice easier, here’s just small selection of the graduate careers available to you no matter what degree subject you study.</p><div class="dynamic-block-articles" htmltag="p" beforeafter="after" position="3" style="">
        
        </div>
        <h2>1. Human Resources (HR)</h2>
        <p>
        </p><div class="media media-element-container media-default">
        <div id="file-1391906" class="file file-image">
        <div class="content">
        <img style="" alt="Human Resources (HR)" title="Human Resources (HR)" class="media-element file-default" src="/static/home/images2/img2.jpeg">
        </div>
        </div>
        </div><p></p>
        <p>Working in Human Resources (HR) means that you are responsible for helping with employee-related issues, such as recruitment, payroll, employment policies and benefits. HR also act as middlemen for employees and managers to discuss any problems and can also clarify information about sick pay, employment policy and maternity leave.</p>
        <p>The good news is you don’t need a degree in human resources to get a job in HR, although many employers do expect graduates to have earned a UK 2:1 (or international equivalent) in their degree.&nbsp;</p>
        <p>Graduates usually start off in HR administrator jobs or HR assistant jobs, although some jobs may require you to have completed a Certificate in Personnel Practice (CPP) or a Chartered Institute of Personnel and Development (CIPD) course.</p><div class="dynamic-block-articles" htmltag="p" beforeafter="after" position="6" style="">
        <div id="js-dfp-tag-site_wide_mpu_3" data-google-query-id="CKKxnLKHz_cCFQ4Pcgodvs8NWA">
        
        </div>
        </div>
        <p>According to <a href="https://www.payscale.com/research/UK/Job=Human_Resources_(HR)_Assistant/Salary">PayScale</a>, the average HR Assistant salary is between £17,000-£26,000) (approximately US$21,550-$32,960).</p>
        <h2>2. Accountancy</h2>
        <p>
        </p><div class="media media-element-container media-default">
        <div id="file-1391908" class="file file-image">
        <div class="content">
        <img style="" alt="Accountancy" title="Accountancy" class="media-element file-default" src="/static/home/images2/img3.jpeg">
        </div>
        </div>
        </div><p></p>
        <p>A career in <a href="https://www.topuniversities.com/university-rankings/university-subject-rankings/2020/accounting-finance">accountancy</a> requires strong numeracy skills and an analytical mind. This makes a <a href="https://www.topuniversities.com/university-rankings/university-subject-rankings/2020/mathematics">mathematics</a>based degree ideal for a career in accountancy, but any degree is generally accepted by the top firms, as long as you achieve the required grade.</p>
        <p>To become a qualified accountant, you’ll have to complete a range of professional accounting exams, including the Certified Public Account (CPA) exam. If you studied accountancy at university, you may have already completed some of these exams. If not, your firm will usually help pay for these qualifications.</p><div class="dynamic-block-articles" htmltag="p" beforeafter="after" position="9" style="">
        
        </div>
        <p>A junior accountant in the UK typically earns £18,000-£26,000 ($22,830-$32,960) according to <a href="https://www.payscale.com/research/UK/Job=Junior_Accountant/Salary">Payscale</a>.</p>
        <h2>3. Marketing and advertising</h2>
        <p>
        </p><div class="media media-element-container media-default">
        <div id="file-1391909" class="file file-image">
        <div class="content">
        <img style="" alt="Marketing degree" title="Marketing degree" class="media-element file-default" src="/static/home/images2/img4.jpeg">
        </div>
        </div>
        </div><p></p>
        <p>The advertising industry is known for being extremely competitive – but what industry isn’t? Don’t let that put you off. If you have creativity, commitment and a strong degree, there’s no reason you shouldn’t succeed in the world of advertising.</p>
        <p>There are many different types of <a href="https://www.topuniversities.com/courses/marketing/guide">marketing</a> and advertising careers. Whether you want to start your career as a copywriter, a marketing executive, a media planner, or a social media manager, it’s vital to build a portfolio of your previous work and to make sure your application stands out.</p>
        <p>An entry level marketing associate <a href="https://www.payscale.com/research/UK/Job=Marketing_Associate/Salary">typically makes</a> around £26,800 (approximately $34,100)</p>
        <h2>4. Investment banking</h2>
        <p>
        </p><div class="media media-element-container media-default">
        <div id="file-1391910" class="file file-image">
        <div class="content">
        <img style="" alt="Investment banking" title="Investment banking" class="media-element file-default" src="/static/home/images2/img5.jpeg">
        </div>
        </div>
        </div><p></p>
        <p>As an investment banker, your job is to provide a range of financial services to companies, governments, institutions and individuals. Investment bankers have strong numerical and analytical skills, good project management ability and are able to work well under pressure.</p>
        <p>Again, this industry is very competitive – particularly because it is amongst the highest paid, with <a href="https://www.glassdoor.co.uk/Salaries/investment-analyst-salary-SRCH_KO0,18.htm">graduate starting salaries</a> averaging around £43,000 (approximately US$54,700).</p>
        <p>If you’re looking to work in investment banking, work experience is a must. Completing a summer <a href="https://www.topuniversities.com/blog/tags/internships">internship</a>&nbsp;will put you in good stead for earning a place on the top firms’ prestigious graduate schemes.&nbsp;</p>
        <h2>5. Management consultancy</h2>
        <p>
        </p><div class="media media-element-container media-default">
        <div id="file-1391911" class="file file-image">
        <div class="content">
        <img style="" alt="Management " title="Management " class="media-element file-default" src="/static/home/images2/img6.jpeg">
        </div>
        </div>
        </div><p></p>
        <p><a href="https://www.topuniversities.com/university-rankings/university-subject-rankings/2019/business-management-studies">Management</a> consultants advise companies how to implement strategic decisions. Your client may be a company, the government, or a public sector organization.</p>
        <p>For this career, you’ll need to be organized, detail orientated and have strong communication skills – which you’ll hopefully learn in your <a href="https://www.topuniversities.com/student-info/careers-advice/five-essential-skills-your-future-career">degree</a>.&nbsp;</p>
        <p>Management consultants earn a high graduate <a href="https://www.payscale.com/research/UK/Job=Management_Consultant/Salary/bef7d2f2/Entry-Level-London">starting salary</a>, averaging £32,580 (approximately US$41,410) per year. As a result, they can be extremely competitive, so <a href="https://www.topuniversities.com/blog/how-approach-companies-work-experience">work experience</a> is essential.</p>
        <h2>6. Teaching</h2>
        <p>
        </p><div class="media media-element-container media-default">
        <div id="file-1391912" class="file file-image">
        <div class="content">
        <img style="" alt="Teaching " title="Teaching " class="media-element file-default" src="/static/home/images2/img7.jpeg">
        </div>
        </div>
        </div><p></p>
        <p>If you’re looking to become a teacher, you’ll need to complete a postgraduate teacher training course to become qualified. Skills required to become a teacher include confidence, patience, strong communication skills, organization and creativity.&nbsp;</p>
        <p>Teaching is known for its high levels of job satisfaction and excellent holiday benefits. You can find out more about the different jobs available within teaching and education in our <a href="https://www.topuniversities.com/courses/education-training/guide#tab=1">education course guide</a>.&nbsp;</p>
        <p>An entry level primary school teacher in the UK will earn around £26,200 (approximately US$33,000) <a href="https://www.payscale.com/research/UK/Job=Primary_School_Teacher/Salary">according to Payscale</a>.</p>
        <h2>7. Public relations (PR)</h2>
        <p>
        </p><div class="media media-element-container media-default">
        <div id="file-1391913" class="file file-image">
        <div class="content">
        <img style="" alt="Pr" title="Pr" class="media-element file-default" src="/static/home/images2/img8.jpeg">
        </div>
        </div>
        </div><p></p>
        <p>Working in public relations is all about managing your client’s reputation. Competencies for a career in PR include exceptional relationship building skills, strong written and verbal <a href="https://www.topuniversities.com/university-rankings/university-subject-rankings/2019/business-management-studies">communication skills</a> and good organizational skills.</p>
        <p>Although you don’t need a specific degree to work in PR, you can get ahead by studying <a href="https://www.topuniversities.com/courses/business-management-studies/guide">business</a>,<a href="https://www.topuniversities.com/courses/communication-media-studies/guide">communications</a> and <a href="https://www.topuniversities.com/university-rankings/business-masters-rankings/marketing/2020">marketing</a> degrees.</p>
        <p>You can also stand out by completing relevant work experience, although this can be quite hard to find. If you’re struggling to find work experience, try looking at related areas such as event management.&nbsp;</p>
        <p>Salaries in PR typically start at around £18,000 to £20,000 (approximately US$22,800 to US$25,380) but salaries can quickly rise after you’ve gained experience in the industry.</p>
        <h2>8. Hospitality and travel management</h2>
        <p>
        </p><div class="media media-element-container media-default">
        <div id="file-1391914" class="file file-image">
        <div class="content">
        <img style="" alt="Hospitality " title="Hospitality " class="media-element file-default" src="/static/home/images2/img9.jpeg">
        </div>
        </div>
        </div><p></p>
        <p>If you’re looking to work in <a href="https://www.topuniversities.com/university-rankings/university-subject-rankings/2019/business-management-studies">hospitality</a>, you’ll need excellent communication skills and plenty of work experience in the industry. Language skills will be extremely useful, as you may be looking to work internationally or have guests from around the world.&nbsp;</p>
        <p>Graduate schemes in hospitality are open to all degree backgrounds, although some may require a minimum grade, and a relevant degree may give you an advantage.&nbsp;</p>
        <p>Aside from a degree in hospitality, relevant degrees may include <a href="https://www.topuniversities.com/university-rankings/university-subject-rankings/2019/business-management-studies">business administration</a>, <a href="https://www.topuniversities.com/university-rankings/university-subject-rankings/2020/economics-econometrics">economics</a> or <a href="https://www.topuniversities.com/university-rankings/university-subject-rankings/2020/economics-econometrics">management</a>.</p>
        <p>The average salary for an assistant general manager in the UK is £23,000 (approximately US$29,300)&nbsp;</p>
        <h2>9. Sales</h2>
        <p>
        </p><div class="media media-element-container media-default">
        <div id="file-1391915" class="file file-image">
        <div class="content">
        <img style="" alt="Sales" title="Sales" class="media-element file-default" src="/static/home/images2/img10.jpeg">
        </div>
        </div>
        </div><p></p>
        <p>A career in sales involves - you guessed it - selling. Almost all companies require salespeople to persuade clients to purchase the goods and services your company has on offer. You’ll also be negotiating on prices and taking payments for goods and services.</p>
        <p>To be a salesperson you’ll need to be confident and enthusiastic, as well as being great at networking. Most big firms offer sales graduate schemes, including <a href="https://www.apple.com/jobs/uk/retail.html">Apple</a>, <a href="https://www.samsung.com/uk/aboutsamsung/careers/emerging-talent/graduate-opportunities/">Samsung</a> and <a href="https://careers.walmart.com/student">Walmart</a>.</p>
        <p>The <a href="https://www.payscale.com/research/UK/Job=Salesperson_%2F_Salesman_%2F_Saleswoman/Salary">average salary</a> for a graduate salesperson in the UK is £22,000 (approximately US$28,000) however there is often the chance to earn more money in commission.</p>
        <h2>10. Supply chain and logistics</h2>
        <p>
        </p><div class="media media-element-container media-default">
        <div id="file-1391916" class="file file-image">
        <div class="content">
        <img style="" alt="Supply chain" title="Supply chain" class="media-element file-default" src="/static/home/images2/img11.jpeg" width="700">
        </div>
        </div>
        </div><p></p>
        <p>If you have a job in the supply chain, you’ll be overseeing products from start to finish. A career in the supply chain is incredibly fast paced and you’ll have to liaise with suppliers constantly. To do this, you’ll have to be able to remain calm under pressure and have great communication skills.</p>
        <p>Many large retailers offer <a href="https://www.topuniversities.com/student-info/careers-advice/graduate-schemes-explained">graduate schemes</a> in supply chain and logistics. To gain a place on one, you should gain some experience through part time work in the retail sector, through internships or work placements.</p>
        <p>According to <a href="https://www.glassdoor.co.uk/Salaries/supply-chain-graduate-salary-SRCH_KO0,21.htm">Glassdoor</a>, a typical supply chain graduate salary is £28,500 (approximately US$36,000).</p></div>
        </div>
        </div>
        <div class="views-element-container block block-views block-views-blockarticle-update-block-1">
        <div class="content">
        <div><div class="view view-article-update view-id-article_update view-display-id-block_1 js-view-dom-id-aba3c664aee55bf22c86bd25662e4e81c33d027d6ab57eb3a3acd9af1924ff38">
        <div class="view-content">
        <div class="views-row">
        <p class="update_article">
        <i>
        This article was originally published in July 2020
        .
        It was last updated in December 2021
        </i>
        </p>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="block block-qs-articleblocks block-more-content">
        <div class="content">
        <span class="register-free">
        
        </span>
        </div>
        </div>
        <div class="block block-layout-builder block-field-blocknodearticlefield-cta">
        <div class="content">
        <div class="field field--name-field-cta field--type-link field--label-hidden field__items">
        <div class="field__item">
        <a href="https://www.topuniversities.com/student-info/careers-advice/how-students-can-find-job-no-experience" target="_blank" title="Find out how graduates can find a job with no experience ">Find out how graduates can find a job with no experience </a>
        </div>
        </div>
        </div>
        </div>
        <div class="block block-layout-builder block-field-blocknodearticlefield-category">
        <div class="content">
        <label class="field__label related__label">Related Categories:</label>
        <div class="field field--name-field-category field--type-entity-reference field--label-hidden field__items">
        <div class="field__item">
        <a href="/article/tags/careers-advice" hreflang="en">careers advice</a>
        </div>
        <div class="field__item">
        <a href="/article/tags/graduate-jobs" hreflang="en">graduate jobs</a>
        </div>
        </div>
        </div>
        </div>
        <div class="views-element-container block block-views block-views-blockauthor-info-block-1">
        <div class="content">
        <div><div class="view view-author-info view-id-author_info view-display-id-block_1 js-view-dom-id-53797d2c737cbd04a3bc7af7edea1d1b43a7780f9867eaea844fd747e70b1096">
        <div class="view-content">
        <div class="views-row">
        <section class="author-info-view">
        <div class="user-bg"></div>
        <div class="user-pic"><a href="/users/chloelane"><img class="rounded-circle image-style-_0x40" src="/static/home/images2/profile.jpeg" width="40" height="40" alt="Chloe image" loading="lazy" typeof="foaf:Image">
        </a></div>
        <div class="user-writtenby"><i>Written by</i></div>
        <div class="user-name"><a href="/users/chloelane">
        Chloe Lane
        </a></div>
        <div class="user-about"><p>As&nbsp;Content Editor for TopUniversities.com and TopMBA.com, Chloe creates&nbsp;and publishes&nbsp;a wide range of articles for universities and business schools across the world.&nbsp;Chloe has a Bachelor’s degree in Economics from the University of Reading and grew up in Leicestershire, UK.&nbsp;</p>
        </div>
        </section>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        
        
        </div>
{% endblock content %}