<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> home </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'home/css/footer.css' %}">
</head>
<body>
    <!-- footer section -->
    <div class="footer">
        <div class="box-container">
            <div class="box">
                <h3>about us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, culpa eum. Id officia assumenda fuga provident, veniam culpa error earum,
                     praesentium, natus nostrum ut inventore quis placeat aspernatur dolorem voluptate!</p>
            </div>
            <div class="box">
                <h3>quick links</h3>
                  <a href="#">Home</a>
                  <a href="#">Contact</a>
                  <a href="#">About</a>
                  <!-- <a href="#"></a> -->
            </div>
            <div class="box">
                <h3>quick links</h3>
                  <a href="#">facebook</a>
                  <a href="#">instagram</a>
                  <a href="#">twitter</a>
                  <!-- <a href="#"></a> -->
            </div>
            <div class="info">
                <i class="fas fa-phone"></i>
                <p>+91 7499866920 <br>+91 7499866920</p>
            </div>
            <div class="info">
                <i class="fas fa-envelope"></i>
                <p>example@gmail.com <br>sample@gmail.com</p>
            </div>
            <div class="info">
                <i class="fas fa-map-marker-alt"></i>
                <p>mj college jalgaon maharashtra</p>
            </div>
        </div>
        <h1 class="credit">&copy; copyright @2022 by FindMyCareer </h1>
    </div>
    <!-- footer section end -->
</body>
</html>