<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

{% block title%} Login Page {% endblock title %}

{% block css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'home/css/login.css' %}">
{% endblock css %}



    {% block content %}
<div class="center">
    <h1>Login</h1>
    <form action="" method="POST">
        <div class="text_field">
            <input type="text" required>
            <span></span>
            <label for="">Username</label>
        </div>
        <div class="text_field">
            <input type="text" required>
            <span></span>
            <label for="">Password</label>
        </div>
        <div class="pass">Forgot Password</div>
        <input type="submit" name="" value="Login">
        <div class="signup_link">
            Not a member? <a href="#"> Signup</a>
        </div>
    </form>
</div>
    {% endblock content %}
