<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

{% block title %} Sign Up Page {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/css/UserProfile.css' %}">
{% endblock css %}

{% block content %}
<br><br><br><br><br>
<div class="center">
    <h1> {{user.first_name}} {{user.last_name}}</h1>
    {% if messages %}
        {% for message in messages %}
            <small {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}} </small>
        {% endfor %}
    {% endif %}

    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
        {% endfor %}
        <input type="submit" value="Save Changes">
    </form>
    <a href="{% url 'user_logout' %}">Logout</a>
    <a href="{% url 'changepass' %}">Change Password</a>
</div>
{% endblock content %}