<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

{% block title%} Sign Up Page {% endblock title %}

{% block css %}
      <link rel="stylesheet" href="{% static 'home/css/UserProfile.css' %}">  
{% endblock css %}

{% block content %}

{% include 'home/header.html' %}
<div class="center">
    <h1> Hello {{user}} </h1>
    {% if messages %}
        {% for message in messages %}
            <small {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}} </small>
        {% endfor %}
    {% endif %}
    <a href="{% url 'user_logout' %}">Logout</a>
</div>
    {% endblock content %}
