<!DOCTYPE html>
{% extends "home/base.html" %}
{% load static %}

{% block title%} Login Page {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/css/login.css' %}">
{% endblock css %}


{% block content %}

<!-- {% include 'home/header.html' %} -->
<div class="center">
    <h1>Login</h1>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}

        {% for fm in form %}
        <div class="text_field">
            {{fm.label_tag}}
                <span></span>
            {{fm}} {{fm.errors|striptags}}
        </div>
        {% endfor %}
        <div class="pass"><a href="#">Forgot Password</a></div>
        <input type="submit" name="" value="Login">
        <div class="signup_link">
            Not a member? <a href="{% url 'signup' %}"> Signup</a>
        </div>
    </form>
</div>

<!-- {% if messages %}
  {% for message in messages %}
   <small {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</small>
  {% endfor %}
{% endif %} -->

{% endblock content %}










































<!-- <div class="center">
    <h1>Login</h1>
    <form action="" method="POST">
        <div class="text_field">
            <input type="text" required>
            <span></span>
            <label for="">Username</label>
        </div>
        <div class="text_field">
            <input type="text" required>
            <span></span>
            <label for="">Password</label>
        </div>
        <div class="pass">Forgot Password</div>
        <input type="submit" name="" value="Login">
        <div class="signup_link">
            Not a member? <a href="#"> Signup</a>
        </div>
    </form>
</div> -->