 @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@100;200;300;400&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html, body{
    display: grid;
    height: 100%;
    place-items: center;
    /* background: #f2f2f2; */
}
.wrapper{
    width: 350px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .title{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 75px;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(90deg, var(--purple), var(--pink));
}

.wrapper form {
    padding: 14px 30px 50px 30px;
}

.wrapper form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 22px;
}

.wrapper form .field input{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-radius: 25px;
    outline: none;
    border: 1px solid lightgrey;
    transition: all 0.3s ease;
}

.wrapper form .field input:focus,
.wrapper form .field input:valid{
    border-color: #814096;
}
.wrapper form .field label{
    position: absolute;
    top: 31%;
    left: 20%;
    font-size: 13px;
    transform: translate(-30%);
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper form .field input:focus ~ label,
.wrapper form .field input:valid ~ label{
    top: 0%;
    color: #814096;
    /* background: #fff; */
    transform: translate(-50%);
}

.wrapper form .pass-link{
    color:#814096;
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 14px;
    text-decoration: none;
}

.wrapper form .field input[type="submit"]{
    color: #fff;
    background: linear-gradient(90deg, var(--purple), var(--pink));
    font-size: 17px;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper form .field input[type="submit"]:active{
    transform: scale(0.95);
}

.wrapper .signup_link{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: -17px;
    text-align: center;
}



.wrapper p {
    color: red;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
}



/* .wrapper form #btn:hover{
    color: #265df2;
} */