.footer{
    padding-top: 3rem;
    background: url('../images/footer-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.footer .box-contianer{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-contianer .box{
    flex:1 1 25rem;
    margin: 2rem;
}

.footer .box-contianer .box h3{
    font-size: 2.4rem;
    padding: 1rem 0;
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .box-contianer .box p{
    font-size: 1.4rem;
    padding: 5rem 0;
    color: #eee;
}

.footer .box-contianer .box a:hover{
    text-decoration: underline;
}
 