@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@100;200;300;400&display=swap');

body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-size: medium;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .text_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 18px 0px;
}
.text_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 10px;
    border: none;
    background: none;
    outline: none;
}

.text_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 11px;
    pointer-events: none;
}

.text_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background:#814096;
    transition: .5s;
}

.text_field input:focus ~ label, 
.text_field input:valid ~ label{
    top: -5px;
    color: #814096;
}

.text_field input:focus ~ span::before, 
.text_field input:valid ~ span::before{
    width:100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 80%;
    height: 50px;
    border: 1x solid ;
    background: #814096;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: #814096;
    transition: .5s;
}

.signup_link{
    margin: 11px 0;
    text-align: center;
    font-size: 14px;
    color: #666666;
}


.signup_link a:hover{
     color: #814096;
     text-decoration: underline;
}