@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
}


.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 360px;
    background: #fff;
    border-radius: 10px;
    border: 0.1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}

.center form{
    padding: 12px;
}
.center a{
    font-size: large;
}

